<h1 mat-dialog-title>Editar Tarea</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Título</mat-label>
      <input matInput name="title" placeholder="Título de la tarea" [(ngModel)]="updatedTask.title">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Empresa a cargo</mat-label>
      <input matInput name="name" placeholder="Empresa a cargo" [(ngModel)]="updatedTask.name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea matInput name="description" placeholder="Descripción" [(ngModel)]="updatedTask.description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <mat-select name="status" [(ngModel)]="updatedTask.status">
        <mat-option value="en_proceso">En proceso</mat-option>
        <mat-option value="finalizado">Finalizado</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="updateTask()">Actualizar</button>
  <button mat-flat-button color="warn" (click)="dialogRef.close()">Cancelar</button>
</div>
