.container {
  margin: 0 auto;
  max-width: 1348px;
  padding: 20px; /* Ajusta el espacio interno según sea necesario */
}

h1 {
  padding-top: 30px;
}

h2 {
  padding-top: 30px;
}

main-body {
  padding-top: 20px;
}

mat-form-field {
  width: 100%;
}

.action {
  display: flex;
  gap: 5px;
}


